body{
    background: #ffffff;
}
.carta {
    border: none !important; 
    border-radius: 0 !important;
}
.p-1{
    font-size: 20px;
}
.box {
    width: 70%;
    height: auto;
    margin: 0 auto !important;
    padding: 20px 25px;
    border: solid 1px grey;
    border-radius: 2px;
    background-color: #DBDBDB;
}
.inp-borde {
    border: solid grey 1px !important;
}
.contenedor-1 {
    padding: 50px 100px;
}
.col-form-label {
    text-align: end;
}
hr{
    color:#574d4d;
    margin-bottom: 50px;
    width: 90%;
    
    
}
.div-firstH, .div-servicios{
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}
/* .p-1{
    font-size: 20px;
} *
