    <div class="div-firstH" style="padding: 20px 25px; margin-top:30%">
      <hr>
      <br>
    <div class="container d-flex mt-3">

        <div>
            <div><h1>This First Heading <span style="color: #767676;">Will Catch Your Eye</span></h1></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean urna lorem, condimentum at elit sit amet, tincidunt varius dui. Quisque eu eros turpis. Etiam euismod dapibus leo, porttitor vestibulum arcu. Duis fermentum gravida ligula, non malesuada sem placerat ac. Mauris interdum mi dolor, et eleifend eros commodo sit amet. </p>
        </div>
        <div style="overflow:hidden; margin-right: 5%;">
            <img class="img-fluid" style="border-radius:50%;height: 25rem;width: 75rem;" src="https://cdn.acidcow.com/pics/20110812/pop_culture_caricatures_05.jpg">
        </div>
    </div>
  </div>
