
<nav class="navbar">
  <div class="navbar-izquierda">
    <div class="logo">
      <span class="icono-circulo"></span>
      <span class="icono-mas">+</span>
    </div>
  </div>


  <ul class="navbar-centro">
    <li><a href="#">ALL</a></li>
    <li><a href="#">HIS</a></li>
    <li><a href="#">HERS</a></li>
    <li><a href="#">NEW IN</a></li>
    <li><a href="#">ABOUT</a></li>
  </ul>

  <div class="navbar-derecha">
    <div class="login">
      <a href="login.html">LOG IN</a>
      <span class="dropdown">▾</span>
    </div>

    <div class="cart">
      <a href="cart.html">CART</a>
      <span class="cart-counter">2</span>
    </div>
  </div>
</nav>