
<!-- your html code here -->
<div class="container-fluid bg-light contenedor-1" style="padding: 50px 100px;">
    <div class="row">
        <div class="col-12">
            <h1>Portfolio</h1>
            <p class="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam accusantium sunt, eveniet asperiores voluptatum repudiandae sequi saepe? In, odit fugiat. Quisquam, sint? Autem quae et tenetur nostrum maxime iste. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos animi eaque qui minus? Sed, aut quisquam esse aliquam ut doloremque minima perferendis exercitationem facilis ducimus aspernatur, ex ea quas sapiente!</p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-4 d-flex justify-content-center ">
            <div class="card carta" style="width: 100%;">
                <img src="https://wallpapercave.com/dwp1x/wp2120167.jpg" class="card-img-top carta" alt="...">
                <div class="card-body">
                    <a href="#" class="text-decoration-none fs-4 fw-bold" style="color: #3A78AE;">Project Name</a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card carta" style="width: 100%;">
                <img src="https://wallpapercave.com/dwp1x/wp2120167.jpg" class="card-img-top carta" alt="...">
                <div class="card-body">
                    <a href="#" class="text-decoration-none fs-4 fw-bold" style="color: #3A78AE;">Project Name</a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card carta" style="width: 100%;">
                <img src="https://wallpapercave.com/dwp1x/wp2120167.jpg" class="card-img-top carta" alt="...">
                <div class="card-body">
                  <a href="#" class="text-decoration-none fs-4 fw-bold" style="color: #3A78AE;">Project Name</a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>